
#sandbox{
	width:410px;
	height:210px;
}
#container1{
	padding:5px;
	margin:5px;
	border: 5px solid #5b4000;
	width:400px;
	height:100px;
	box-sizing:border-box;
}
#container2{
	padding:5px;
	border : 5px solid #0e5252 ;
	height:100px;
	box-sizing:border-box;
	
}
